.item1 h1,
.item2 h2,
.item3 h2,
.item4 h2 {
  border-bottom: 1px solid black;
  padding: 0.5rem;
}
.item1 h1 {
  text-align: center;
}
.item3 p {
  background-color: white;
  color: black;
  text-align: center;
  justify-content: center;
}

.container .contain .item5 h3 {
  text-align: center;
  background-color: grey;
  padding-left: 150px;
  color: white;
  height: 6%;
}
.container .contain .item5 {
  height: 100px;
  background-color: grey;
  text-align: center;
  justify-content: center;
  width: auto;
}
